<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

  <!--
    Write events to a file with the date in the filename. -->


  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target name="console" xsi:type="Console" layout="${longdate} ${uppercase:${level}} ${message}" />
    <!--<target xsi:type="Mail"
            name="mailit"
            header="Layout"
            footer="Layout"
            layout="Layout"
            html="Boolean"
            addNewLines="Boolean"
            replaceNewlineWithBrTagInHtml="Boolean"
            encoding="Encoding"
            subject="Layout"
            to="Layout"
            bcc="Layout"
            cc="Layout"
            from="Layout"
            body="Layout"
            smtpUserName="Layout"
            enableSsl="Boolean"
            secureSocketOption="None|Auto|SslOnConnect|StartTls|StartTlsWhenAvailable"
            smtpPassword="Layout"
            smtpAuthentication="Enum"
            smtpServer="Layout"
            smtpPort="Integer"
            useSystemNetMailSettings="Boolean"
            deliveryMethod="Enum"
            pickupDirectoryLocation="String"
            timeout="Integer"
            skipCertificateValidation="Boolean"
    />-->
    <target name="my" xsi:type="MyCustom" layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="TcpOutlet" xsi:type="NLogViewer" encoding="utf-8" address="tcp://192.168.7.70:45055"  layout="${longdate} [${threadid}] ${pad:padding=-5:fixedlength=true:inner=${level:uppercase=true}} ${logger} - ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f" -->
    <logger name="*" minlevel="Debug" writeTo="f" >
      <filters>
        <whenContains layout='${message}' substring='para' action='Ignore' />
      </filters>
    </logger>
    <logger name="*" minlevel="Warn" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="my" />
    <logger name="*" minlevel="Warn" writeTo="TcpOutlet" />
  </rules>
</nlog>
